<div class="item">
    <div class="item-thumb">
        <a href="{{item.metadata.slug}}">
            <!-- only use large image -->
            <img src="{{item.thumbnails[2].url}}" alt="">
            <ng-template [ngIf]="item.metadata.duration">
                <span class="duration">{{ item.metadata.duration | formatDuration }}</span>
            </ng-template>
        </a>
    </div>
    <div class="item-content">
        <span class="time-posted">{{ item.metadata.publishDate | timeAgo }}</span>
        <span @commentIntro class="comment-count">
            <div *ngIf="info && info.count > 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>{{ info.count }}</ng-template>
            <ng-template #elseBlock>&nbsp;</ng-template>
        </span>
        <a href={{item.metadata.slug}}>
            <h4>
                <div *ngIf="item.metadata.headline; then thenBlock2 else elseBlock2"></div>
                <ng-template #thenBlock2>{{ item.metadata.headline }}</ng-template>
                <ng-template #elseBlock2><h4>{{ item.metadata.title }}</h4></ng-template>
            </h4>
        </a>
    </div>
</div>
<div class="divider"></div>