@import url("https://fonts.googleapis.com/css?family=Raleway:600,700,800,900");
/*-------------
---Normalize---
-------------*/
input:focus,
textarea:focus,
button:focus {
  outline: none; }

/*-------------
-----Styles----
-------------*/
h2 {
  font: 100% "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 900; }

h2::after {
  content: '';
  margin-top: .7rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(182, 182, 182, 0.363); }

.menu-container {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px; }

.content-container {
  width: 100%;
  height: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 750px; }

.menu {
  font: 100% "Raleway", sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .03rem;
  display: flex;
  height: 163px; }

.list-group {
  width: 100%;
  flex-direction: column;
  justify-content: space-between; }

.list-group .list-group-item {
  display: flex;
  border: 0;
  height: 100%;
  align-items: center;
  color: #8b8b8b; }

.list-group .list-group-item:hover {
  background-color: #cccccc; }

.list-group .list-group-item span {
  padding-left: 1.3rem; }

.list-group .active {
  border: 0;
  background-color: #D51D29;
  color: white;
  font-weight: 700; }

.list-group .active:hover {
  background-color: #D51D29; }

.item {
  display: flex;
  font: 100% "Raleway", sans-serif; }

.item .item-thumb {
  display: flex;
  height: auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: .3rem; }

.item .item-thumb img {
  max-width: 100%;
  max-height: 100%; }

.item .item-content {
  padding: 0rem 1rem;
  width: 100%; }

.item .item-content h4 {
  font-size: 23px;
  font-weight: 800; }

.time-posted, .comment-count {
  display: inline-block;
  font-weight: 800;
  color: #D51D29;
  padding-bottom: 1rem; }

.time-posted::after {
  content: '-';
  padding: 0rem .5rem; }

.comment-count::before {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  font-weight: 300;
  padding-right: .3rem; }

.divider {
  border-bottom: 2px solid rgba(182, 182, 182, 0.363);
  margin: 1rem 0rem; }
