$default-font: 'Raleway', sans-serif;
$number-font: 'Work Sans', sans-serif;
$ign-red: #D51D29;
$light-grey: rgba(182, 182, 182, 0.363);
$dark-grey: rgb(143, 143, 143);
$hyperlink-blue: rgb(28, 119, 255);