$default-font: 'Raleway', sans-serif;
$number-font: 'Work Sans', sans-serif;
$ign-red: #D51D29;
$light-grey: rgba(182, 182, 182, 0.363);
$dark-grey: rgb(143, 143, 143);
$hyperlink-blue: rgb(28, 119, 255);

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}